body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f0f0f0;
            
        }
        header {
            background-color: #333;
            color: white;
            padding: 20px 0;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        header h1 {
            margin: 0;
        }
        .links a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
        }
        .contenedor {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .producto {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .producto-contenedor {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .producto-imagen img {
            width: 300px;
            height: auto;
        }
        .producto-descripcion {
            margin-left: 20px;
        }
        .producto-descripcion h1 {
            margin-top: 0;
        }
        .des p {
            margin: 5px 0;
        }
        .info {
            margin-top: 10px;
        }
        .info p {
            margin: 5px 0;
        }
        .boton-compra {
            display: block;
            width: 150px;
            padding: 10px;
            text-align: center;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
        }
        .boton-compra:hover {
            background-color: #0056b3;
        }
        .medios {
            text-align: center;
            margin: 20px 0;
        }
        .medios a {
            color: #007bff;
            text-decoration: none;
            margin: 0 10px;
        }
        .medios a:hover {
            text-decoration: underline;
        }
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }
        .pie_pag a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        .pie_pag a:hover {
            text-decoration: underline;
        }