 body {
   margin: 0;
  font-family: 'KoHo-Regular', sans-serif;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Para posicionar el LPD */
}

.lpd-header {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
 }

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'RozhaOne-Regular';
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input::placeholder {
  color: #999;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #170CAC;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #120986;
}

.login-link {
  font-size: 14px;
  margin-top: 20px;
  font-family: 'KoHo-Bold';
}

.login-link a {
  color: blue;
  text-decoration: none;
}

.footer-links {
  margin-top: 20px;
  font-family: 'KoHo-Regular';
}

.footer-links a {
  color: #424242;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
  font-family: 'KoHo-Regular';
}