body{
    margin:0;
    box-sizing: border-box;
    background:#f3f2f2;
}

.header{
    display: flex;
    background: white;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.header_tittle{
    display: flex;
    color: black;
    padding: 0px 0px 0px 20px;
}

.itemlink{
    padding-right: 35px;
    padding-left: 35px;
    text-decoration: none;
    color: black;
}

.itemlink:hover{
    text-decoration: underline;
}

.headerlink_login{
    text-decoration: none;
    color: black;
}

.headerlink_login:hover{
    text-decoration: underline;
}

.headerlink_register{
    padding-right: 25px ;
    color: black;
    text-decoration: none;
}

.headerlink_register:hover{
    text-decoration: underline;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

/* Sección de categorías */
.categories-section h2 {
    font-size: 36px;
    color: #c4144e; /* Rojo suave */
    margin-bottom: 20px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Estilo de las tarjetas de categoría */
.category-card {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    color: #333;
    transition: transform 0.2s;
    border: 2px solid #c4144e; /* Borde rojo suave */
}

.category-card:hover {
    transform: scale(1.05);
    background-color: #f5eaea; /* Fondo claro al pasar el cursor */
}

.footer{
    display: flex;
    height: 100px;
    background: #c4144e;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius:25px ;

}
.footer a{
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}
