* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #888484;
}
header {
  background-color: #d3d3d3;
  padding: 10px;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000000;
}
header h1 {
  font-size: 1.5em;
}
.links {
  padding-left: 49%;
  padding-top: 3%;
}
.contenedor {
  width: 98%;
  margin: 10px auto;
  padding: 10px;
  background-color: #d3d3d3;
  border: 1px solid #000000;
}
.producto {
  padding-left: 20px;
  font-size: 40px;
}
.producto-contenedor {
  display: flex;
}
.producto-imagen {
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.producto-imagen img {
  width: 300px;
  display: inline-block;
  border: 1px solid black;
}
.info {
  margin-top: 10%;
  padding: 10px;
  border: 1px solid #000000;
  display: inline-flex;
}
.ubicacion {
  padding-left: 400px;
  margin-right: 90px;
}
.medios {
  background-color: #d3d3d3;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.as {
  color: #000000;
  text-decoration: none;
}
